.outer {
  font-family: "Oswald", sans-serif;
  width: 100vw;
}

.mainImg {
  // background-image: url("https://images.unsplash.com/photo-1449034446853-66c86144b0ad?auto=format&fit=crop&w=3300&q=80");
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  height: 5px;
  width: 30%;
  background-color: #f1f1f1;
}

.welcome {
  font-size: 4vw;
  color: #f1f1f1;
  margin: 0px 50px;
  font-weight: 200;
  text-transform: uppercase;
}

.divWelDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

.sideBySide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sideBySideL {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 1);
  font-size: 4vw;
  margin-top: 15vh;
  text-align: center;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 7vw;
}

.boxSpacing {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
}

.test {
  width: 80%;
  height: auto;
  background-color: white;
  position: absolute;
  margin-top: -10vh;
  -webkit-box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.1);
  padding: 50px;
  color: gray;
  text-align: justify;
  text-justify: inter-word;
  .we {
    font-size: 5em;
    font-weight: 700;
    color: rgb(51, 51, 51);
  }
  .introHome {
    font-size: 3em;
    font-weight: 200;
  }
}

.signupButtonMid {
  width: auto;
  height: auto;
  background-color: #2D6464;
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px;
  transition: 0.24s;
  font-weight: 200;
  font-size: 24px;
  margin-bottom: 35px;
  margin-top: 35px;
}

.signupButtonMid:hover {
  color: white;
  -webkit-box-shadow: 0px 0px 66px -12px rgb(255, 255, 255);
  -moz-box-shadow: 0px 0px 66px -12px rgb(255, 255, 255);
  box-shadow: 0px 0px 66px -12px rgb(255, 255, 255);
}

.meetInst {
  width: 97.5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: white;
  padding-left: 2.5%;
  font-size: 4em;
  text-transform: uppercase;
  -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  background-color: #2D6464;
  height: 150px;
  margin-bottom: -1px;
  margin-top: 5vh;
}

.instructors {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2D6464;
}

.instructor {
  width: 31%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vh 5vh;
  background-color: white;
  -webkit-box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 54px;
  transition: 0.34s;
  .instPic {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 2.5vh;
  }
  .instName {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
  }
  .paragraph {
    font-weight: 200;
    margin-top: 2.5vh;
    color: rgba(88, 88, 88, 0.8);
  }
}

.instructor:hover {
  padding: 38px 55px;
}

.diagtopb {
  -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  background-color: #55b3b0;
  width: 97.5%;
  height: 150px;
  margin-top: -1px;
  display: flex;
  align-items: flex-end;
  font-size: 4em;
  color: white;
  text-transform: uppercase;
  padding-left: 2.5%;
}

.diagbottomy {
  -webkit-clip-path: polygon(0 0, 100% 100%, 100% 0);
  clip-path: polygon(0 0, 100% 100%, 100% 0);
  background-color: #2D6464;
  width: 100%;
  height: 150px;
  margin-top: -1px;
}

.schedule {
  background-color: #55b3b0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.schedule2 {
  background-color: #2D6464;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.info {
  width: 90%;
  height: 200px;
  background-color: white;
  -webkit-box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.1);
  margin: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 20px;
  font-size: 2em;
  transition: 0.54s;
  .sessionName {
    font-size: 2em;
  }
  .verticalDivider {
    width: 2px;
    height: 90%;
    background-color: #55b3b0;
  }
  .verticalDividerS {
    width: 2px;
    height: 50%;
    background-color: #55b3b0;
  }
  .sessDesc {
    color: rgba(133, 133, 133, 0.897);
    font-weight: 200;
  }
  .dates {
    display: flex;
    flex-direction: column;
  }
}

.info:hover {
  height: 215px;
}

.diagbottomb {
  -webkit-clip-path: polygon(0 0, 100% 100%, 100% 0);
  clip-path: polygon(0 0, 100% 100%, 100% 0);
  background-color: #55b3b0;
  width: 100%;
  height: 150px;
  margin-top: -1px;
}

//MEDIA QUERIES ************************************************
//**************************************************************
//**************************************************************
@media (max-height: 700px) {
  .meetInst {
    margin-top: 20vh;
  }
}
@media (max-width: 900px) {
  .info {
    width: 70%;
    height: 300px;
    background-color: white;
    -webkit-box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.1);
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0px 20px;
    font-size: 1em;
    .sessionName {
      font-size: 2em;
    }
    .verticalDivider {
      width: 90%;
      height: 2px;
      background-color: rgb(85, 179, 176);
    }
    .verticalDividerS {
      width: 50%;
      height: 2px;
      background-color: #55b3b0;
    }
    .sessDesc {
      color: rgba(133, 133, 133, 0.897);
      font-weight: 200;
    }
    .dates {
      display: flex;
      flex-direction: column;
    }
  }
  .info:hover {
    height: 315px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 1em;
    margin-left: 10px;
  }
  .welcome {
    font-size: 15vw;
    margin: 0px 20px;
  }
  .sideBySideL {
    font-size: 8vw;
  }
  .boxSpacing {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
  }
  .test {
    width: 80%;
    height: auto;
    background-color: white;
    position: absolute;
    margin-top: -10vh;
    -webkit-box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.1);
    padding: 30px;
    .we {
      font-size: 2em;
      font-weight: 700;
    }
    .introHome {
      font-size: 1.5em;
    }
  }
  .instructors {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .instructor {
    width: 65%;
    margin: 3vh 1vh;
    padding: 10px 20px;
    min-height: 0px;
  }
  .meetInst {
    font-size: 2em;
    margin-top: 5vh;
  }
  .diagtopb {
    font-size: 2em;
  }
}
